body{
    margin: 0px;
}
.app {
    background-color: #000;
    color: #fff;

    text-align: center;
}

.app img {
    height: 100px;
}

.rotate {
    animation: spin 10s linear infinite;
}



@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*ublockMe*/
.gameBoardDiv{
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;*/
    /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;*/
    width: 96vw;
    height: 96vw;
    background-color: darkslategrey;
}

.gameArea{
    padding: 0;
    width: 96vw;
    height: 96vw;
    background-color: blue;
}
.pieceDiv{
    width: 96vw;
    height: 96vw;
}

.gamePiece{
    border: solid;
    box-sizing: border-box;
    position: absolute;
    background-color: mediumvioletred;
    border-radius: 3px;
}
.starterPiece{
    background-color: orange;
}

