body{
    margin: 0px;
}
.app {
    background-color: #000;
    color: #fff;

    text-align: center;
}

.app img {
    height: 100px;
}

.rotate {
    animation: spin 10s linear infinite;
}



@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*ublockMe*/
.gameBoardDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 96vw;
    height: 96vw;
    background-color: darkslategrey;
}

.gameArea{
    padding: 0;
    width: 96vw;
    height: 96vw;
    background-color: blue;
}
.pieceDiv{
    width: 96vw;
    height: 96vw;
}
.unBlock_startingPiece{
    /*top: 32vw;*/
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: orange;
}

.unBlock_longPiece{
    position: absolute;
    width: 32vw;
    height: 16vw;
    background-color: darkolivegreen;
}
.unBlock_tallPiece{
    position: absolute;
    width: 16vw;
    height: 32vw;
    background-color: blueviolet;
}